body {
    background-color: rgb(0, 10, 0);
}

.jumbotron img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* centers and adjusts image size,   */
.center-jumbo {
    text-align: center;
    height: 100vh;
    /* background-color:#00000080; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
} 

/* .opacity {
    background: rgba(255, 255, 255, 0.2);
    padding-bottom: 1.5%;
    width: 60%;
    height: auto;
    margin: 0 auto;
} */

.center-jumbo h1, .center-jumbo h2, .center-jumbo  p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.877)
}

.card {
    max-width: 30em;
}

.card-columns {
    height: auto;
    margin: 0 auto;
    width: 80%;
}

.Smartphone {
    max-width: 90%;
    margin: 0 auto;
}

.card-size {
    max-height: 90vh;
}

.text-width {
    width: 45%;
}

.text-center {
    margin: 0 auto;
    padding: 8% 0;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

@media only screen and (max-width: 360px) {
    .jumbotron h1 {
      font-size: 2em;
    }
  }